<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Micro Bancário: Depósito</title>
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body class="deposito">
    <div class="container">
        <header>
            <div class="home-icon">
                <a href="home.html">
                    <img src="../../static/image/home.png" alt="Home" width="30">
                </a>
            </div>
            <img src="../../static/image/logo.png" alt="Logo" class="logo">
            <div class="logout">
                <a href="index.html">
                    <img src="../../static/image/logout.png" alt="Logout" id="logoutBtn" class="logout-icon">
                </a>
            </div>
        </header>
        <main>
            <div class="deposit-info">
                <h2>DEPÓSITO</h2>
                <p><strong>NÚMERO DA Cta.</strong> <span>ID DA CONTA CADASTRADA</span></p>
                <p>Digite o valor do depósito: R$ <input type="number" id="depositValue" min="0" step="0.01"></p>
                <div class="buttons-container">
                    <button type="button" id="clearBtn">LIMPAR</button>
                    <button type="button" id="depositBtn">DEPOSITAR</button>
                </div>
            </div>
        </main>
    </div>
    <script src="../../static/js/script.js"></script>
</body>
</html>
