<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body class="home">
    <div class="container">
        <header>
            <h1>TÍTULO</h1>
            <div class="logout">
                <button id="logoutBtn">SAIR</button>
            </div>
        </header>
        <main>
            <div class="account-info">
                <div class="account-details">
                    <p><strong>NOME</strong></p>
                    <p><strong>NÚMERO DA Cta.</strong></p>
                </div>
                <p class="balance"><strong>SALDO</strong></p>
            </div>
            <div class="buttons-container">
                <button type="button" id="depositBtn">DEPÓSITO</button>
                <button type="button" id="withdrawBtn">SAQUE</button>
                <button type="button" id="transferBtn">TRANFERÊNCIA</button>
            </div>
        </main>
    </div>
    <script src="../../static/js/home.js"></script>
</body>
</html>
