<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body class="home">
    <div class="container">
        <header>
            <img src="../../static/image/logo.png" alt="Logo" class="logo">
            <div class="logout">
                <a>
                    <img src="../../static/image/logout.png" alt="Logout" id="logoutBtn" class="logout-icon">
                </a>
            </div>
        </header>
        <main>
            <div class="account-info">
                <div class="account-details">
                    <p><strong>{{current_user.first_name}} {{current_user.last_name}}</strong></p>
                    <p><strong>{{current_user.bank_account_id}}</strong></p>
                </div>
                <p class="balance"><strong>R$ {{ "{:,.2f}".format(current_user.balance).replace(',', 'X').replace('.', ',').replace('X', '.') }}</strong></p>            </div>
            <div class="buttons-container">
                <button type="button" id="depositPageBtn">DEPÓSITO</button>
                <button type="button" id="withdrawPageBtn">SAQUE</button>
                <button type="button" id="transferPageBtn">TRANFERÊNCIA</button>
            </div>
        </main>
    </div>
    <script src="../../static/js/script.js"></script>
</body>
</html>
