<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Micro Bancário: Gestão Rápida e Simples</title>
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body class="index">
    <div class="container">
        <header>
            <img src="../../static/image/logo.png" alt="Logo" class="logo">
        </header>
        <main>
            <div class="image-section">
                <img src="../../static/image/banner.png" alt="Informações" class="informative-image">
            </div>
            <div class="login-section">
                <h2>LOGIN</h2>
                <form id="loginForm">
                    <label for="loginEmail">EMAIL</label>
                    <input type="email" id="loginEmail" name="loginEmail" required>
                    <label for="loginPassword">SENHA</label>
                    <input type="password" id="loginPassword" name="loginPassword" required>
                    <button type="submit">ENTRAR</button>
                    <button type="button" id="registerBtn">REGISTRAR</button>
                </form>
            </div>
        </main>
    </div>
    <script src="../../static/js/script.js"></script>
</body>
</html>
