<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Micro Bancário: Registro</title>
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body class="register">
    <div class="container">
        <header>
            <div class="home-icon">
                <a href="index.html">
                    <img src="../../static/image/return.png" alt="Return" width="30">
                </a>
            </div>
            <h1>REGISTRO</h1>
        </header>
        <main>
            <div class="form-container">
                <form id="registerForm">
                    <div class="form-group">
                        <label for="firstName">Nome</label>
                        <input type="text" id="firstName" name="firstName" required>
                        
                        <label for="lastName">Sobrenome</label>
                        <input type="text" id="lastName" name="lastName" required>
                    </div>

                    <div class="form-group">
                        <label for="registerEmail">Email</label>
                        <input type="email" id="registerEmail" name="registerEmail" required>
                    </div>

                    <div class="form-group">
                        <label for="registerPassword">Senha</label>
                        <input type="password" id="registerPassword" name="registerPassword" required>
                        
                        <label for="registerConfirmPassword">Confirme sua senha</label>
                        <input type="password" id="registerConfirmPassword" name="registerConfirmPassword" required>
                    </div>

                    <div class="form-group">
                        <label for="registerDob">Data de nascimento</label>
                        <input type="date" id="registerDob" name="registerDob" required>
                    </div>

                    <button type="submit">Avançar</button>
                </form>
            </div>
        </main>
    </div>
    <script src="../../static/js/script.js"></script>
</body>
</html>