<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../../static/image/logo.png">
    <title>Configurações</title>
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body class="settings">
    <div class="container">
        <header>
            <div class="home-icon">
                <!-- Ícone de retorno para a página inicial -->
                <a>
                    <img src="../../static/image/home.png" alt="Home" width="30">
                    <!-- Imagem do ícone de home, sem funcionalidade definida -->
                </a>
            </div>
            <h1>CONFIGURAÇÕES</h1>
            <div class="logout">
                <!-- Div que contém o botão de logout -->
                <a>
                    <img src="../../static/image/logout.png" alt="Logout" id="logoutBtn" class="logout-icon">
                    <!-- Imagem do ícone de logout com um ID e classe para estilização e funcionalidade -->
                </a>
            </div>
        </header>
        <main>
            <div class="form-container">
                <form id="profileForm">
                    <div class="form-group">
                        <label for="firstName">Nome</label>
                        <input type="text" id="firstName" name="firstName" value="{{user.first_name}}" required>
                        <!-- Campo de entrada para o nome do usuário, pré-preenchido com o valor armazenado -->

                        <label for="lastName">Sobrenome</label>
                        <input type="text" id="lastName" name="lastName" value="{{user.last_name}}" required>
                        <!-- Campo de entrada para o sobrenome do usuário, pré-preenchido com o valor armazenado -->

                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" value="{{user.username}}" required>
                        <!-- Campo de entrada para o email do usuário, pré-preenchido com o valor armazenado -->

                        <label for="dob">Data de nascimento</label>
                        <input type="date" id="dob" name="dob" value="{{user.dob}}" required>
                        <!-- Campo de entrada para a data de nascimento do usuário, pré-preenchido com o valor armazenado -->
                    </div>
                    <button type="submit" id="updateProfileBtn" class="btn-primary">Alterar Perfil</button>
                    <!-- Botão para submeter as alterações de perfil -->
                </form>
            </div>

            <div class="form-container">
                <form id="passwordForm">
                    <div class="form-group">
                        <label for="currentPassword">Senha Atual</label>
                        <input type="password" id="currentPassword" name="currentPassword" required>
                        <!-- Campo de entrada para a senha atual -->

                        <label for="newPassword">Nova Senha</label>
                        <input type="password" id="newPassword" name="newPassword" required>
                        <!-- Campo de entrada para a nova senha -->

                        <label for="confirmPassword">Confirme sua senha</label>
                        <input type="password" id="confirmPassword" name="confirmPassword" required>
                        <!-- Campo de entrada para confirmar a nova senha -->
                    </div>
                    <button type="submit" id="updatePasswordBtn" class="btn-primary">Alterar Senha</button>
                    <!-- Botão para submeter a alteração de senha -->
                </form>
            </div>

            <div class="form-container">
                <button type="button" class="btn-danger" id="deleteAccountBtn">Deletar Conta</button>
                <!-- Botão para deletar a conta do usuário -->
            </div>
        </main>
    </div>
    <script src="../../static/js/script.js"></script>
    <!-- Script JavaScript para adicionar funcionalidades ao formulário -->
</body>
</html>
